:root {
  --primary-color: rgb(213, 213, 213);
  --mid-color: rgb(233, 233, 233);
  --secondary-color: rgb(248, 248, 248);

  --error-color: red;
  --color-success: green;
  --color-update: orange;
  --color-detail: rgb(76, 76, 255);
}

body {
  font-family: Arial;
}

.recipt-main-ctn {
  background: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 1px 1px 10px 2px rgb(224, 221, 221);
}

.recipt-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.receipt-body {
  padding: 15px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.receipt-body-top-inner-ctn {
  display: flex;
  flex-direction: column;

  gap: 5px;
  font-size: 90%;
}

.recipt-items-table {
  font-size: 70%;
  width: 100%;
}

.receipt-table-head {
  background-color: var(--primary-color);
}

.receipt-table-body-row {
  text-align: center;
  background-color: var(--mid-color);
}

.recipt-total-ctn {
  text-align: center;
  padding: 5px;
}

.receipt-body-bottom-inner-ctn {
  font-size: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btn {
  background-color: var(--primary-color);
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  margin: 3px;
  box-shadow: 1px 1px 3px 1px lightgray;
  font-size: inherit;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.2s;
  /* padding: 7px; */
}

.btn:active {
  opacity: 0.8;
  transition: 0.2s;
  padding: 5px 15px;
}

.receipt-page-navigation-btns-ctn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
