:root{
    --primary-color: rgb(213, 213, 213);
    --mid-color: rgb(233, 233, 233);
    --secondary-color: rgb(248, 248, 248);

    --error-color: rgb(252, 75, 11);

}

.table{
    background-color: var(--secondary-color);
    width: 100%;
    height: fit-content;

}
.table .table-head{
    background-color: var(--primary-color);
    cursor: auto !important;
    opacity: 1 !important;
    font-size: 100% !important;


}

.table tr {
    text-align: center;
    background-color: var(--mid-color);
}

.table tr:hover {
    transition: 0.2s;
    cursor: pointer;
    background-color: var(--primary-color);
}

tr:hover  button{
    background-color: var(--secondary-color);
} 


.dashboard-products-ctn{
    background-color: var(--secondary-color);
    width: inherit;
    height: fit-content;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.products-ctn{
    border: 1px gray solid;
    padding: 10px;
    border-radius: 5px;
    
}