:root {
  --primary-color: rgb(213, 213, 213);
  --mid-color: rgb(233, 233, 233);
  --secondary-color: rgb(248, 248, 248);

  --error-color: rgb(252, 75, 11);
  --color-success: #5dd693;

}

.new-sale-form-ctn {
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
}

.new-sale-form-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.new-sale-form{
  width: inherit;
}

.new-sale-form-inputs-main-ctn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 20px;
  width: 90%;
}

@media (max-width: 500px){
  .new-sale-form-inputs-main-ctn{
    display: grid;
    grid-template-columns: 1fr;
  }
}

.new-sale-form-input-ctn {
  display: flex;
  flex-direction: column;
  gap: 3px;
}



.new-sale-form-input-ctn label{
  font-size: 90%;
}

.new-sale-form-input-ctn input,
.new-sale-form-input-ctn select,
.new-sale-form-input-ctn textarea {
  border: 1px lightgray solid;
  padding: 7px;
  border-radius: 5px;
  font-size: 80%;
  width: inherit;
}

.one-field-form-inputs-main-ctn{
  grid-template-columns: 1fr !important;
}


.payment-form-inner-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.err-style {
  border-color: red !important;
}

.err-message {
  color: red;
  font-size: 90%;
}


